/* Absolute positioning is likely necessary to display the edit box (hit return) right over the file name it is editing;
    if avoiding this feature, do not strictly need absolute positioning (though may need to adjust styles below and class);
    Any need to make this dynamic instead?
*/
.colbrows_col {position:absolute;}
/*.colbrows_hidden {display:none;} */

.xlink-simple {color:white; text-decoration:underline;}

#newitem, #createitem, #deleteitem {position:relative; top: 80px;}

.colbrows_col{
    color:white;
    font-weight:bold;
    font-family:"Times New Roman";
    font-size: medium;
    border: 4px solid black;
    background-color: #111111; /*#FF6000;*/
/*    padding: 3px; */
}
.colbrows_col option {
    border: 1px groove green;
/*    padding:2px;
    letter-spacing: 2px;*/
}
.colbrows_col:focus {
    color:white;
    background-color: black; /* red;*/
}



.tooltipShadow {
/*      background: url(shadow.png);   translucent shadow */
}

.tooltipContent {
      /* left: -4px; top: -4px;        /* how much of the shadow shows */
      top: 35px;
      left: 4px;
      background-color:yellow;
      /* background-color: aqua;       /* aqua background */
      border: solid blue 1px;      /* thin blue border */
      
      padding: 5px;                 /* spacing between text and border */
      font: bold 10pt sans-serif;   /* small bold font */
}